<nav role="navigation" aria-label="Main Navigation">
    <div class="container">
        <ul>
            <li><a href="/" aria-describedby="home-desc">Home</a></li>
            <li><a href="/interests" aria-describedby="interests-desc">Interests</a></li>
            <li><a href="/skills" aria-describedby="skills-desc">Skills</a></li>
            <li><a href="/projects" aria-describedby="projects-desc">Projects</a></li>
            <li><a href="/plans" aria-describedby="futurePlans-desc">Future Plans</a></li>
            <li><a href="/aboutMe" aria-describedby="aboutMe-desc">About Me</a></li>
            <button id="theme-toggle">Dark Mode</button>
            <button id="style-toggle">Style Mode</button>
        </ul>
    </div>
</nav>