<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>Hailex</title>
</head>
<body>
    <header role="banner">
        <div class="container">
            <h1>Hailex Myers</h1>
            <p class="tagline">AI and Software Engineer</p>
        </div>
    </header>
    <%- include('nav') -%>
    <main id="main-content" role="main">
        <div class="container">
            <section id="about" aria-labelledby="about-heading">
                <h2 id="about-heading">About Me</h2>
                <div class="about-content">
                    <div class="about-text">
                        <p>I'm going to Neumont College for Computer Science to earn a Bachelor's degree in AI Engineering. I'm ambitious but keep burning myself out. I have a lot of of <strong>big</strong> plans, but am still far away from achieving most of them. I have been taking extra classes to graduate early and get to where I want to be sooner. I currently have two jobs; I work at Subway, and I'm an academic coach at my college. I want to create long lasting improvements to the world. Right now I can't do as much as I want, but I can at least help others learn what I know.</p>
                        <p>Along with wanting to make improvements that will everyone on Earth, I also want to do other things with my life. I want to study different fields of science, make things that have only been dreamt of, spend some time relaxing, and of course have a good life.</p>
                        <p>What makes a <em>good</em> life though? That last thing I said I want is a bit vague. To be more specific, I'm saying that I want to have enough income to live comfortably and do what I want to, but not so much many that I can't think of anyway to use all of it. I want to continue having the good friends I have now, and make more. I want to make sure there's distance between myself and toxic people, unless I can help them be better. I want to have my own house that's not too big or small and has the right assortments of rooms. I guess it's still a little vague, but that's because I'm open to some things being different as long as my life is close to this.</p>
                    </div>
                </div>
                <img id="imgOfMe" src="../images/Hailex.jpg" alt="Image Of Hailex" />
                <p id="caption">Picture of Hailex Myers</p>
            </section>
        </div>
    </main>
    <%- include('footer') -%>
</body>
</html>