<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>Interests</title>
</head>
<body>
    <header role="banner">
        <div class="container">
            <h1>Hailex Myers</h1>
            <p class="tagline">AI and Software Engineer</p>
        </div>
    </header>
    <%- include('nav') -%>
    <main id="main-content" role="main">
        <div class="container">
            <section id="interests" aria-labelledby="interests-heading">
                <div class="interests-content">
                    <div class="interests-text">
                        <h2 id="interests-heading">Interests</h2>
                        <img id="imgOfRick" src="../images/wubba-lubba-dub-dub-rick-sanchez.gif" alt="Wubba-Lubba-Dub-Dub"/>
                        <table>
                            <tr>
                                <th>Movies</th>
                                <th>TV shows</th>
                                <th>Video games</th>
                            </tr>
                            <tr>
                                <td>Nimona</td>
                                <td>Rick and Morty</td>
                                <td>Minecraft</td>
                            </tr>
                            <tr>
                                <td>Guardians of the Galaxy</td>
                                <td>Phineas and Ferb</td>
                                <td>Hollow Knight</td>
                            </tr>
                            <tr>
                                <td>The Princess Bride</td>
                                <td>Agents of S.H.I.E.L.D</td>
                                <td>Legend of Zelda</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('footer') -%>
</body>
</html>