<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>Future Plans</title>
</head>
<body>
    <header role="banner">
        <div class="container">
            <h1>Hailex Myers</h1>
            <p class="tagline">AI and Software Engineer</p>
        </div>
    </header>
    <%- include('nav') -%>
    <main id="main-content" role="main">
        <div class="container">
            <section id="plans" aria-labelledby="plans-heading">
                <h2 id="plans-heading">Future Plans</h2>
                <div class="plans-content">
                    <img id="imgOfDaFuture" src="../images/daFuture.png" alt="two AIs and two scientists">
                    <p>After graduating I plan to have a job creating and improving artificial Intelligence. I also have plans for projects that I will make outside of a job to hopefully improve life for myself and others, some of these projects are listed below.</p>
                    <details>
                        <summary>Networking App</summary>
                        <p>An AI powered app that will connect you with other people that you will interact well with based on your personality instead of looks and swiping.</p>
                    </details>
                    <details>
                        <summary>Meeting Summarizer</summary>
                        <p>An app that listens to what you want it to and summarizes meetings and conversations to help you remember details later. It will also automatically put events in your calender when it detects them.</p>
                    </details>
                    <details>
                        <summary>Intelligence Booster</summary>
                        <p>A tool that will compile resources, tests, activities, and more to help you learn what you want to the way you learn. Will not just give you the answer.</p>
                    </details>
                    <details>
                        <summary>Stock Predicter</summary>
                        <p>Gathers data about stocks, their trends, the outliers, news relating to companies, bills that effect the economy and more to predict what we should invest in and when.</p>
                    </details>
                    <p>In addition to these goals, I also want to travel, continue learning and have a fun life. A quote that I think about often is <q>Nobody belongs anywhere, nobody exists on purpose, we're all going to die. Come watch TV</q>, which was said by Morty Smith in Rick and Morty because life didn't start because we chose to be born, and there's no predetermined path for anyone, we get to choose the life we want while we're here.</p>
                </div>
            </section>
        </div>
    </main>
    <%- include('footer') -%>
</body>
</html>